<input class="form-control f1", placeholder="Search Twitter"><br>
<div class="card" style="">
  <div class="card-header">
    Trends For You
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
    	<small>Trending In Serbia</small><br>
    	<strong>Tommy</strong><br>
    	<small>14.9k Tweets</small>
    </li>
    <li class="list-group-item">
    	<small>Pop</small><br>
    	<strong>ariana</strong><br>
    	<small>59.6k Tweets</small>
    </li>
    <li class="list-group-item">
    	<a href="">Show more</a>
    </li>
  </ul>
</div>
<br>
<div class="card" style="width: 18rem;">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Who To Follow</li>
    <li class="list-group-item">Huawei<br><small>@huawei</small></li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
</div>